body {
    margin     : 0;
    box-sizing : border-box;
}

main {
    margin : 2vh 2vw;
}

section {
    height : 70vh;
    width  : 50vw;
    margin : 5vh auto;
}

form {
    width  : 50vw;
    margin : 5vh auto;
    height : 10vh;
}

#getOne textarea {
    display   : block;
    width     : 90%;
    margin    : 0 auto;
    height    : 100%;
    resize    : none;
    font-size : 8vh;
}

.getOne div {
    display    : block;
    width      : 90%;
    margin     : 0 auto;
    text-align : center;
}

section > div {
    border                : 1px solid black;
    width                 : 350px;
    height                : 500px;
    border-radius         : 20px;
    display               : grid;
    padding               : 1em;
    grid-template-columns : 1fr;
    grid-template-rows    : 1fr 7fr 1fr 4fr 1fr;
    gap                   : 3px;
}

.card:first-child, .card:nth-child(2) {
    margin-top : 25px;
}

.card:nth-last-child(-n+2) {
    margin-bottom : 140px;
}

section > div div {
    padding : 5px;
}

section > div div p {
    margin : auto 0;
}

.nom,
.rarity {
    display : flex;
    gap     : 1em;
}

.type {
    display : flex;
    gap     : 5px;
}

.type {
    border-radius : 10px;
}

.nom,
.img,
.text {
    border        : 1px solid black;
    border-radius : 5px;
}

.img {
    height : 220px;
}

.text {
    height     : 150px;
    overflow-y : scroll;
}

.text::-webkit-scrollbar {
    width         : 10px;
    border-radius : 5px;
}

.text::-webkit-scrollbar-thumb {
    width         : 10px;
    border-radius : 5px;
}

.text p {
    overflow-wrap : anywhere;
}

.nom p:first-child,
.rarity p:first-child {
    flex-grow : 3;
}

.img {
    background-color : #000;
    padding          : 0;
}

.nom div {
    display : flex;
    gap     : 3px;
}

.ico {
    width : 20px;
}

.img img {
    width  : 100%;
    height : 100%;
}

.rarity div {
    display       : flex;
    border        : 1px solid black;
    border-radius : 5px;
    gap           : 1vw;
    padding       : 0 1vw;
}

.result {
    display         : flex;
    flex-wrap       : wrap;
    gap             : 25px;
    align-items     : center;
    justify-content : center;
}

.inputs {
    position : absolute;
    top      : 2em;
    left     : 2em;
    padding  : 0.5em;
}

.inputs pre {
    margin : 0;
}

.inputs pre span {
    text-decoration : underline;
}

.nom.mul,
.type.mul,
.powtough.mul,
.text.mul::-webkit-scrollbar-thumb {
    background-color : #ccb978;
}

.text.mul {
    background-color : #edecce;
}

.card.mul {
    background-color : #ece8b1;
}

.nom.black,
.type.black,
.powtough.black {
    background-color : #c2bab8;
}

.text.black {
    background-color : #a69e9c;
}

.card.black,
.text.black::-webkit-scrollbar-thumb {
    background-color : #91775e;
}

.nom.green,
.type.green,
.powtough.green,
.text.green {
    background-color : #c6d2be;
}

.card.green,
.text.green::-webkit-scrollbar-thumb {
    background-color : #549669;
}

.nom.red,
.type.red,
.powtough.red,
.text.red {
    background-color : #f4d3c1;
}

.card.red,
.text.red::-webkit-scrollbar-thumb {
    background-color : #d85041;
}

.nom.blue,
.type.blue,
.powtough.blue,
.text.blue {
    background-color : #e6f2f9;
}

.card.blue,
.text.blue::-webkit-scrollbar-thumb {
    background-color : #6fcff1;
}


.card.white,
.text.white::-webkit-scrollbar-thumb {
    background-color : #fffbd5;
}

.text.white::-webkit-scrollbar-thumb {
    border : 1px solid black;
}

.nom.white,
.type.white,
.powtough.white,
.text.white {
    background-color : #e2e0dd;
}

.nom.colorless,
.type.colorless,
.powtough.colorless,
.text.colorless {
    background-color : #d1dbdd;
}

.card.colorless,
.text.colorless::-webkit-scrollbar-thumb {
    background-color : #8697a2;
}

.unco {
    display          : inline-block;
    background-color : #abaca7;
    border-radius    : 50%;
    width            : 20px;
    height           : 20px;
    text-align       : center;
    line-height      : 20px;
}

.getAll {
    display        : none;
    flex-direction : column;
    text-align     : center;
    gap            : 1em;
}

.getAll label {
    font-size       : 2em;
    text-decoration : underline;
}

.getAll input {
    width     : 50%;
    margin    : 0 auto;
    font-size : 2em;
}

.postOne {
    display        : none;
    flex-direction : column;
    gap            : 0.5em;
    height         : fit-content;
    width          : 30%;
}

.postOne > div {
    display        : flex;
    flex-direction : column;
    gap            : 0.5em;
}

.postOne .legendary {
    display : block;
    margin  : 0 auto;
}

.postOne .cost {
    display : block;
}

.postOne .cost fieldset {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    align-items     : center;
    gap             : 0.1em;
}

.postOne .cost fieldset div {
    width : 33%;
}

.postOne .powtoughPost {
    display : block;
}

.postOne .powtoughPost fieldset {
    display : flex;
    gap     : 1em;
    width   : fit-content;
    margin  : 0 auto;
}

.postOne .cost fieldset label {
    width   : 55px;
    display : inline-block;
}

.postOne .powtoughPost fieldset label {
    width   : 70px;
    display : inline-block;
}

.postOne .powtoughPost fieldset div {
    width : fit-content;
}

.postOne .cost fieldset input,
.postOne .powtoughPost fieldset input {
    width   : 2em;
    display : inline-block;
}

.effect {
    height : 100px;
    resize : none;
}

.postOne .color fieldset {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : fit-content;
    margin          : 0 auto;
    gap             : 1em;
}

.postOne p {
    font-style : italic;
}

.postOne .color,
.postOne .powtoughPost,
.postOne .cost {
    display : none;
}

.underline {
    border-bottom : 3px solid black;
}

.validationPost {
    text-align : center;
}

#context-menu {
    position      : fixed;
    z-index       : 2;
    width         : 150px;
    background    : #1b1a1a;
    border-radius : 5px;
    display       : none;
}

#context-menu .item {
    padding       : 8px 10px;
    font-size     : 15px;
    color         : #eee;
    cursor        : pointer;
    border-radius : inherit;
}

#context-menu .item:hover {
    background : #343434;
}

#context-menu.visible {
    display : block;
}